@import '../../../styles/variables';

.product__price {
  color: #484678;
  padding: 1rem 1rem 0 0;
  font-size: 2em;
  font-weight: 800;
  text-align: end;
}

.product__description {
  font-size: 1.2rem;
  margin: .5rem .2rem .5rem .2rem;
  color: #5036ab;
  max-width: 442px;
}

.product__title {
  color: $purple;
  padding: 1rem 0 1rem 0;
  font-size: 1.5rem;

  h3 {
    font-weight: bold;
    padding-left: 1em;
  }
}

.product__image {
  padding: 0 1em .5em 2em;

  > img {
    background-color: white;
  }

}
