<!-- end SHOPPING CART tab -->
</main>

<!-- footer -->
<footer class="bottom-bar-footer" role="contentinfo">
    <nav class="bottom-bar" role="navigation">
        <div class="bottom-bar-column-1">
            <h2>Authors</h2>
            <ul class="footer-links-column-1">
                <li class="contact-info">
                    <a class="footer-link" href="https://github.com/georgeotj">
                        Jorge Martinez
                    </a>
                </li>
                <li class="contact-info">
                    <a class="footer-link" href="https://github.com/TrevorMcDougald">
                        Trevor McDougald
                    </a>
                </li>
                <li class="contact-info">
                    <a class="footer-link" href="https://github.com/hasankhan93">
                        Hasan Khan
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-bar-column-2">
            <h2>Account</h2>
            <ul class="footer-links-column-2">
                <li class="account-link">
                    <a class="footer-link" href="docs/archive/HTML/userinfo.html">
                        New User
                    </a>
                </li>
                <li class="account-link">
                    <a class="footer-link" href="docs/archive/HTML/userinfo.html">
                        My Account
                    </a>
                </li>
                <li class="account-link">
                    <a class="footer-link" href="docs/archive/HTML/shippinginfo.html">
                        My Shipping
                    </a>
                </li>
                <li class="account-link">
                    <a class="footer-link" href="#">
                        Order Status
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-bar-column-3">
            <h2>Support</h2>
            <ul class="footer-links-column-3">
                <li class="support-link">
                    <a class="footer-link" href="#">
                        Order Support
                    </a>
                </li>
                <li class="support-link">
                    <a class="footer-link" href="#">
                        Contact
                    </a>
                </li>
                <li class="support-link">
                    <a class="footer-link" href="#">
                        FAQ
                    </a>
                </li>
                <li class="support-link">
                    <a class="footer-link" href="#">
                        Report Abuse
                    </a>
                </li>
                <li class="support-link">
                    <a class="footer-link" href="#">
                        Legal
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-bar-column-4">
            <h2>Shopping</h2>
            <ul class="footer-links-column-4">
                <li class="shopping-link">
                    <a class="footer-link" href="#">
                        Product Catalog
                    </a>
                </li>
                <li class="shopping-link">
                    <a class="footer-link" href="#">
                        Returns
                    </a>
                </li>
                <li class="shopping-link">
                    <a class="footer-link" href="#">
                        Coupons
                    </a>
                </li>
                <li class="shopping-link">
                    <a class="footer-link" href="#">
                        Store Finder
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</footer>
<!-- /footer -->

<!-- Scripts -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/navigation-buttons.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/shopping-cart.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/load-states.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/validate-shipping-form.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/validate-account-form.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/validate-checkout-form.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/save-user-information.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/load-products.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/save-payment-information.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/save-shipping-information.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="public/javascripts/save-order-information.js"-->
<!--&gt;</script>-->
<!--<script-->
<!--        type="text/javascript"-->
<!--        src="/bundle.js"-->
<!--&gt;</script>-->
<script
        type="text/javascript"
        src="build/client.js"
></script>
<!--<script>-->
<!--    type="text/javascript"-->
<!--    src='./dist/main.js'-->
<!--</script>-->
<!-- end Scripts -->
</body>
</html>
