<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <meta name="author" content="mcdougald_huerta_khan" />
    <meta name="description" content="HTML page for Home" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!--    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">-->

<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />-->


    <link
            href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
            rel="stylesheet"
    />

<!--    <link-->
<!--            rel="stylesheet"-->
<!--            type="text/css"-->
<!--            href="public/stylesheets/style.css"-->
<!--    />-->
    <link
            rel="stylesheet"
            type="text/css"
            href="build/client.css"
    />

</head>

<body>
<!-- header -->
<header class="header-top-bar" role="banner">
    <div class="header-text"><h1>Store Name</h1></div>
    <nav class="top-bar" role="navigation">
        <div class="top-bar responsive-links">
            <div class="top-bar-column-1">
                <ul class="nav-list">
                    <li class="nav-item" id="home-tab-button">
                        <a
                                class="nav-link active"
                                href="#"
                                id="Home-link"
                                onclick="openTab('Home')"
                        >Home</a
                        >
                    </li>
                    <li class="nav-item" id="shopping-tab-button">
                        <a
                                class="nav-link"
                                href="#"
                                id="Shop-link"
                                onclick="openTab('Shop')"
                        >Shop</a
                        >
                    </li>
                    <li class="nav-item" id="checkout-tab-button">
                        <a
                                class="nav-link"
                                href="#"
                                id="Checkout-link"
                                onclick="openTab('Checkout')"
                        >Checkout</a
                        >
                    </li>
                </ul>
            </div>
            <div id="registered-top-bar-column-2" class="top-bar-column-2">
                <ul class="nav-list">
                    <li class="nav-item" id="account-information-tab-button">
                        <a
                                class="nav-link"
                                href="#"
                                id="Account-link"
                                onclick="openTab('Account')"
                        >Account</a
                        >
                    </li>
                    <li class="nav-item" id="logout-button">
                        <a
                                class="nav-link"
                                href="#"
                                id="Logout-link"
                        >Logout</a
                        >
                    </li>
                </ul>
            </div>
            <div id="unregistered-top-bar-column-2" class="top-bar-column-2">
                <ul class="nav-list">
                    <li class="nav-item" id="login-tab-button">
                        <a
                                class="nav-link"
                                href="#"
                                id="Login-link"
                                onclick="openTab('Account')"
                        >Login</a
                        >
                    </li>
                    <li class="nav-item" id="register-tab-button">
                        <a
                                class="nav-link"
                                href="#"
                                id="Register-link"
                                onclick="openTab('Account')"
                        >Register</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- /header -->


<main>
    <!-- HOME tab -->
    <div role="main" class="container tab" id="Home">
        <div class="home-page-title">
            <h2>Home Page</h2>
        </div>
        <div class="top-btn">
            <a class="back-to-top" href="#">Back to Top</a>
        </div>
    </div>
    <!-- end HOME tab -->
