$purple: #332463;
$light-purple: #8b81ae;
$dark-purple: #201936;
$egg-white: #f2f3f4;
$pink-purple: #f4e0fc;
$primary-purple: #8b81ae;
$dark-primary-purple: #4b405e;
$invalid-color: salmon;
$valid-color: palegreen;

$dark: $dark-purple;
$light: $purple;
$grey-light: $light-purple;
$primary: $purple;
$link: $primary-purple;
$info: #6f50d4;
$widescreen-enabled: false;
$fullhd-enabled: false;

$background: $egg-white;
$text: $primary-purple;

// Update some of Bulma's component variables
$body-background-color: $egg-white;
$control-border-width: 2px;
$input-shadow: none;

// Typography
$title-color: $primary;


// Table
$table-background-color: #F5F2FF;
$table-body-background-color: #F5F2FF;
$table-foot-background-color: #F5F2FF;

// Buttons Variables
$button-color: $primary-purple;
$button-border-color: $light-purple;
$button-hover-border-color: $purple;
$button-hover-color: $purple;

// Navbar
$navbar-background-color: $egg-white;

// Input variables
$input-border-color: $purple;
$input-focus-color: $light-purple;

// Columns
$column-gap: 2rem;

// Footer
$footer-background-color: $dark-purple;

%is-invalid {
  border: 2px solid $invalid-color;
  box-shadow: 0 0 8px 2px rgba(250, 128, 114, 0.75);
}

%is-valid {
  border-color: $valid-color;
  box-shadow: 0 0 8px 2px rgba(152, 251, 152, 0.75);
}

$fullhd: 1344px;
