@import '../../styles/variables';

.panel-headers {
  color: #7d6d84;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}


$panel-shadow: 0 0.5em 1em -0.125em rgba($purple, 0.3), 0 0px 0 1px rgba($purple, 0.04);

.panel {
  background-color: #F5F2FF;
  -webkit-box-shadow: 0 0 6px 1px #332463;
  box-shadow: 0 0 6px 1px #332463;
  border-radius: 5px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  &.panel__product {
    @extend .panel;
    box-shadow: none !important;
    //margin: 1rem .5rem 1rem .5rem;
    margin: auto;
    border: 1px solid #D7D7D7;
    max-width: 1000px;
    width: fit-content;
  }

  &.panel__order-history {
    @extend .panel;
    margin: 3rem auto;
    min-width: 656px;
    h2 {
      @extend .panel-headers;
    }
  }

  &.panel__shipping {
    @extend .panel;
    width: fit-content;
    margin: 3rem auto;
    height: fit-content;
  }

  &.panel__payments {
    @extend .panel;
    margin: 3rem auto;
    min-width: 656px;
    h2 {
      @extend .panel-headers;
    }
  }

  &.panel__user {
    @extend .panel;
    margin: .5rem auto;
    width: 60%;
    h2 {
      @extend .panel-headers;
    }
    img {
      object-fit: contain;
    }
  }

  &.panel__information-form {
    @extend .panel;
    max-width: 550px;
    width: fit-content;
    margin: 3rem auto;
  }

  &.panel__notFound {
    @extend .panel;
    height: fit-content;
    width: fit-content;
    margin: 5rem auto;
  }

  &.panel__order-summary {
    @extend .panel;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 6px 1px #ffe8fe;
    box-shadow: 0 0.2em 1em 0.1em rgba(179, 157, 253, 0.13),
    0 0.2em 1em 0.1em rgba(179, 157, 253, 0.03) !important;

  }
}


