.store {
  &.columns {
    margin: 2rem 0 0 0;
  }

}

.store-products {
  margin: 0 0 5rem -6rem;
}

.store-products__title {
  font-size: 3.2rem;
  margin: 1rem 0 0 0;
  font-weight: bold;
  text-shadow: 5px 5px 11px #8b81ae, 2px 3px 4px #161024;

}

.store-cart {
  margin: 0 0 0 4rem;
}
