.shipping-info-panel {
  border-radius: 5px;
  background-color: #e1e1e1;
  display: block;
  width: 45%;
  margin: 5% auto;
}

.shipping-info-panel h2 {
  color: #151a2f;
  text-align: center;
  font-size: 40px;
}

.shipping-info-panel label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  width: 30%;
  position: relative;
  font-size: 3vh;
}

.shipping-info-form {
  margin: 0 5%;
}

p.input[type=checkbox] + label {
  color: #d8437d;
  font-style: italic;
}

p.input[type=checkbox]:checked + label {
  color: #0c7819;
  font-style: normal;
}

.checkbox-label .checkbox-custom {
}

.shipping-info-panel label:empty {
  display: none;
}

.shipping-info-panel input[type="text"] {
  width: 70%;

  /* change padding to make the input bar bigger */
  padding: 12px 20px;

  /* add margin to put space between text inputs */
  margin: 8px 0;

  /* change border to solid, set size and set the color */
  border: 2px solid #151a2f;

  /* border radius adds rounded corners */
  border-radius: 8px;
  background-color: #f2f3f4;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  outline: none;
  position: relative;
}

.shipping-info-panel select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #151a2f;
  border-radius: 4px;
  background-color: #f2f3f4;
}

.shipping-info-panel input[type="text"]:focus {
  border: 2px solid #c1b5e4;
  border-radius: 8px;
  background-color: #f2f3f4;
}

.shipping-info-panel input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #151a2f;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 13px 28px;
  text-decoration: none;
  cursor: pointer;
}

.shipping-info-panel input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #917a90;
}

.shipping-info-buttons {
  padding-left: 60%;
}

.shipping-info-submit-btn {
  position: relative;
  margin-right: 8%;
}
