$purple: #332463;
$light-purple: #8b81ae;
$dark-purple: #161024;
$egg-white: #f5f2ff;
$pink-purple: #f4e0fc;
$primary-purple: #8b81ae;


$dark: $dark-purple;
$light: $light-purple;
$grey-light: $light-purple;
$primary: $purple;
$link: $primary-purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

$background: $egg-white;
$text: $primary-purple;

// Update some of Bulma's component variables
$body-background-color: $egg-white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Button Variables
$button-color: $primary-purple;
$button-border-color: $light-purple;
$button-hover-border-color: $purple;
$button-hover-color: $purple;
