//.NavigationLink {
//  color: #332463;
//  font-size: 30px;
//  text-decoration: none;
//}

h1 {
  font-size: 50px;
}

h2 {
  text-align: center;
}

ul {
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar__link {
  display: flex;
  color: #332463;
  font-size: 30px;
  text-decoration: none;
  padding: 0 5px 0 5px;
}
