<!-- CHECKOUT tab -->
<div
        role="main"
        class="container tab"
        id="Checkout"
        style="display: none;"
>
    <!-- outer most component for checkout, for general CSS styling -->
    <section class="checkout-page">

        <div class="checkout-page-flex-column-2">
            <div class="order-panel"><!-- class for total, shipping, tax, amount due-->
                <div class="order-panel-body">
                    <h3 class="order-panel-header">Your Order</h3>
                    <div class="cost-fields">
                        <div class="cost-adjustment-fields">
                            <div class="checkout-subtotal checkout-cost-output">
                                <span class="subtotal-label cost-label">Subtotal</span>
                                <span class="subtotal-value cost-value" id="checkout-subtotal-value"></span>
                            </div>
                            <div class="checkout-taxes checkout-cost-output">
                                <span class="taxes-label cost-label">Taxes</span>
                                <span class="taxes-value cost-value" id="checkout-taxes-value"></span>
                            </div>
                            <div class="checkout-shipping checkout-cost-output">
                                <span class="shipping-label cost-label">Shipping</span>
                                <span class="shipping-value cost-value" id="checkout-shipping-value"></span>
                            </div>
                        </div>
                        <hr class="checkout-line"/>
                        <div class="cost-total-field">
                            <div class="checkout-total checkout-cost-output">
                                <span class="total-label cost-label">Total</span>
                                <span class="total-value cost-value" id="checkout-total-value"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-panel-footer">
                    <button type="submit" id="submit-order-information-btn"
                            class="submit-btn checkout-btn disabled-button"
                            disabled>
                        Submit Order
                    </button>
                    <button type="button" class="back-btn checkout-btn">
                        Back to Cart
                    </button>
                </div>
            </div>
            <div class="checkout-panel">
                <h3 class="payment-method-header">Select Payment Method</h3>
                <div class="user-payment-methods">
                    <h4 class="saved-payment-options-header">Saved Payment Methods</h4>
                    <div class="show-saved-payment-methods">
                        <span id="no-payment-methods-saved-message"></span>

                    </div>
                </div>
                <span class="user-wants-to-add-new-card">
                    +&nbsp
                    <a class="user-wants-to-add-new-card"
                       id="use-new-payment-card"
                       href="#">
                        use new card for payment
                    </a>
                </span>
                <div class="new-payment-methods">
                    <div class="save-this-payment-method">
                        <span id="ask-save-payment">Save this payment method for additional purchases?&nbsp</span>
                        <a class="save-payment-method" href="#">Yes</a><span>&nbsp/&nbsp</span>
                        <a class="dont-save-payment-method" href="#">No</a>
                    </div>
                    <div class="checkout-panel-body">
                        <!-- Form to collect user payment data -->
                        <form action="/checkout-payment" class="checkout-payment-form" method="POST">
                            <!-- class for payment method -->
                            <div class="payment-method">
                                <label for="payment-method-types"></label>
                                <span
                                        class="error-field"
                                        id="checkout-pay-method-error-message"
                                ></span>
                                <!-- selection options -->
                                <select
                                        id="payment-method-types"
                                        title="Payment Type"
                                        name="payment-types"
                                >
                                    <option value="" selected="selected">Card Type</option>
                                    <option value="visa-card">VISA</option>
                                    <option value="master-card">Master Card</option>
                                    <option value="american-express-card"
                                    >American Express
                                    </option
                                    >
                                </select>
                            </div>

                            <!-- class for user input -->
                            <div class="input-fields">
                                <div class="column-1">
                                    <div class="payment-card-name">
                                        <label for="payment-card-name">Name on Card </label>
                                        <span
                                                class="error-field"
                                                id="checkout-card-name-error-message"
                                        ></span>
                                        <input
                                                type="text"
                                                id="payment-card-name"
                                                placeholder="Full Name"
                                                pattern="^([\w]{3,})+\s+([\w\s]{3,})+$/i"
                                                height="29"
                                                width="388.5"
                                                required
                                        />
                                    </div>
                                    <div class="payment-card-number">
                                        <label for="payment-card-number">Card Number </label>
                                        <span
                                                class="error-field"
                                                id="checkout-card-number-error-message"

                                        ></span>
                                        <input type="text"
                                               id="payment-card-number"
                                               height="29"
                                               width="388.5"
                                               required
                                        />
                                    </div>
                                </div>
                                <div class="column-2">
                                    <div class="card-valid-through">
                                        <label for="payment-expiration-date">Valid Through </label>
                                        <span
                                                class="error-field"
                                                id="checkout-card-expire-error-message"
                                        ></span>
                                        <input
                                                type="text"
                                                id="payment-expiration-date"
                                                height="29"
                                                width="155.4"
                                                placeholder="MM/YY"
                                        />
                                    </div>
                                    <div class="card-verification">
                                        <label for="payment-card-verification">CVV / CVC</label>
                                        <span
                                                class="error-field"
                                                id="checkout-card-cvv-error-message"
                                        ></span>
                                        <input type="password"
                                               id="payment-card-verification"
                                               height="27"
                                               width="77.7"
                                        />
                                    </div>
                                </div>
                            </div>
                            <!-- class for user agreeing to pay -->
                            <div class="purchase-terms-of-service">
                                <label for="pay-agreement">Agree to Terms of Service</label>
                                <input
                                        id="pay-agreement"
                                        type="checkbox"
                                        name="terms-of-service"
                                        required
                                />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="checkout-panel-footer">
                        <br/>
                        <button type="submit" id="submit-payment-information-btn"
                                class="submit-btn checkout-btn disabled-button" disabled>
                            Use Card
                        </button>
                        <button type="button" class="cancel-btn checkout-btn">
                            Cancel Order
                        </button>
                </div>
            </div>
        </div>


    </section>
</div>
<!-- end CHECKOUT tab -->
