<!-- SHIPPING INFO tab -->
<div
        role="main"
        class="container tab"
        id="Shipping"
        style="display: none;"
>
    <div class="shipping-info-panel">
        <h2>Shipping Address</h2>
        <!-- Action will go to our web server (node) -->
        <form
                class="shipping-info-form"
                action=""
                method="post"
                name="shipping-info-form"
                id="shipping-info-form"
        >
            <p>
                <input
                        id="use-billing-address-for-shipping"
                        class="checkbox-custom physical-address"
                        type="checkbox"
                        name="physical_address"
                />
                <label
                        class="checkbox-label physical-address"
                        for="use-billing-address-for-shipping"
                >Use Billing Address?</label
                >
                <span class="error-field" id="billing-address-error-message">
                    You Haven't Registered A Billing Address!!!
                </span>
            </p>
            <div class="Shipping Address">
                <input
                        title="Address 1"
                        type="text"
                        id="shipping_address_1"
                        name="street_address"
                        maxlength="100"
                        placeholder="Street Address"
                        pattern="^\s*\S+(?:\s+\S+){2,3}"
                        required
                />
                <span class="error-field" id="address-1-error-message"></span>
                <br/>
                <label for="shipping_address_2"></label>
                <input
                        title="Address 2"
                        type="text"
                        id="shipping_address_2"
                        name="street_address2"
                        maxlength="100"
                        pattern="^[a-zA-Z0-9\s,.'-]{3,}$"
                        placeholder="Apt, Suite, Bldg, (optional)"
                />
                <span class="error-field" id="address-2-error-message"></span>
            </div>
            <br/>
            <div class="Shipping Location">
                <span class="error-field" id="city-shipping-error-message"></span>
                <label for="shipping_city"></label>
                <input
                        title="City"
                        type="text"
                        id="shipping_city"
                        name="user_city"
                        placeholder="City"
                        pattern="^([a-zA-Z\u0080-\u024F]+(?:. |-| |'))*[a-zA-Z\u0080-\u024F]*$"
                        required
                />
                <!-- TODO: Move to a DB and load with AJAX -->
                <label for="shipping_user_state"></label>
                <select title="Users State" name="state" id="shipping_user_state">
                    <option value="" selected="selected">State</option>
                </select>
                <span
                        class="error-field"
                        id="shipping-state-error-message"
                ></span>
                <br/>
                <label for="shipping_zipcode"></label>
                <span class="error-field" id="shipping-zip-error-message"></span>
                <input
                        title="Zip Code"
                        type="text"
                        id="shipping_zipcode"
                        name="user_zip"
                        placeholder="Zip Code"
                        maxlength="9"
                        minlength="5"
                        pattern="(^\d{5}$)|(^\d{5}-\d{4}$)"
                        required
                />
            </div>
            <br/>
            <div class="shipping-info-buttons">
                <button
                        class="shipping-info-submit-btn disabled-button"
                        id="shipping-info-submit-btn"
                        type="submit"
                        disabled
                >
                    Save
                </button>
                <input
                        class="shipping-info-rest-btn"
                        type="reset"
                        value="Reset"
                />
            </div>

            <br/>
        </form>
    </div>
    <div class="top-btn">
        <a class="back-to-top" href="#">Back to Top</a>
    </div>
</div>
<!-- end SHIPPING INFO tab -->
