
<!-- SHOPPING CART tab -->
<div role="main" class="container tab" id="Shop" style="display: none;">
    <div class="products-cart-panel">
        <div class="store-products-panel flex-column-1">
            <div class="products-header"><h2>Browse our Products!</h2></div>
            <div class="store-products">
                <form
                        class="store-products-list"
                        id="store-products"
                        name="Shopping-Cart"
                        action="/my-handling-form-page"
                        method="POST"
                >
                    <div class="store-product-btns">
                        <br />
                        <label for="add-item-to-cart-button"></label>
                        <button id="add-item-to-cart-button" type="button">Add To Cart</button>
                        <!--                  <label for="update-items"></label>-->
                        <!--                  <button id="update-items" type="button">Update Price</button>-->
                        <!--                  <label for="delete-item"></label>-->
                        <button id="delete-item" type="button">Delete</button>
                        <div class="product-price-quantity">
                            <label for="item-units">Units:</label>
                            <input
                                    id="item-units"
                                    type="number"
                                    name="Item Units"
                                    min="1"
                            />
                            <label for="unit-price">Price:</label>
                            <input id="unit-price" type="text" name="Item Price" />
                        </div>
                    </div>
                    <div class="search-store">
                        <label for="list-products"></label>
                        <select
                                class="list-products"
                                id="list-products"
                                title="Product Selection"
                                name="products"
                        >
                            <!-- Dropdown List Options -->
                            <option value="" selected="selected"
                            >Products &nbsp;&nbsp;&nbsp;&nbsp; Description
                                &nbsp;&nbsp;&nbsp;&nbsp; Prices</option
                            >
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="shopping-cart-panel flex-column-2">
            <h2>Cart</h2>
            <div class="shopping-cart">
                <div id="all-store-items-table" hidden>
                   <table id="hidden-item-table">
                       <caption>
                           All Items
                       </caption>
                       <thead>
                       <tr>
                           <th scope="col">productID</th>
                           <th scope="col">productName</th>
                           <th scope="col">productDescription</th>
                           <th scope="col">productUnits</th>
                       </tr>
                       </thead>
                       <tbody>

                       </tbody>
                   </table>

                </div>
                <div id="product-list-users-see">
                    <table id="cart-list">
                        <caption>
                            Saved Items
                        </caption>
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Units</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--                    <tr>-->
                        <!--                      <td>{{name}}</td>-->
                        <!--                      <td>{{units}}</td>-->
                        <!--                      <td>{{price}}</td>-->
                        <!--                    </tr>-->
                        </tbody>
                    </table>
                    <div class="cart-list-total">
                        <span id="cart-subtotal-label">Subtotal:</span>
                        <span id="cart-subtotal-number"></span>
                    </div>
                </div>
                <div class="shopping-cart-footer">
                    <label for="send-cart-to-checkout-button"></label>
                    <button id="send-cart-to-checkout-button" type="submit" onclick="openTab('Checkout')">Checkout</button>
                    <label for="clear-cart-button"></label>
                    <button id="clear-cart-button" type="reset">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <div class="top-btn">
        <a class="back-to-top" href="#">Back to Top</a>
    </div>
</div>
<!-- end SHOPPING CART tab -->
