@import '../../../styles/variables';

.order-summary {
  width: 400px;
}


.order__image {
  width: 50%;
  height: 50%
}

.table {
  &.order__table {
    background-color: white !important;

    td {
      background-color: white !important;
    }

  }
}
